
    .card {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
        transition: .5s;
        background: #fafafa00;

    }

    .card:hover {
        transform:scale(1.1);
        background: white;
    }
        
    img {
        vertical-align: middle;
        border-style: none;
        object-fit: cover;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
        max-height: 150px;
        min-height: 100px;
    }
