{% extends 'UploadFiles/main.html' %}
{% load static %}

{% block content %}
    <div class="search-container">
    <div class="col-md-12">
        <form action="{% url 'browse_result' %}" method="get" autocomplete="off">
            <div class="input-group">
                <select class="custom-select col-sm-2">
                    <option selected >Subject</option>
                    <option >Author</option>
                    <option >Category</option>
                  </select>
                <input type="text" name="query" required id="search" placeholder="Search For Books Author Category And More....." class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-dark search-btn" id="submit" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>
</div>
{% endblock %}