<!-- <nav id="sidebar" class="sidebar-hidden">
    <div class="sidebar-header">
        <h3>LOGO</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">Browse Search</a>
        </li>

        <li>
            <a href="#">A-Z Search</a>
        </li>

        <li>
            <a href="#">About</a>
        </li>

        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="login">Login</a>
        </li>
        <li>
            <a href="#" class="signup">Signup</a>
        </li>
    </ul>
</nav> -->
